.sidebar {
    width: 18%;
    height: 100vh;
    overflow-y: scroll;
    /* border-right: 1px solid gray; */
    position: fixed;
    left: 0;
    background: white;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.regLink {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.sidebarItem {
margin-left: 30px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    border: transparent;
    transition: .5s;
    border-radius: 15px;
    cursor: pointer;
}
.sidebarItem:hover {
    background-color: EBEBEB;
}
.sidebarItemText {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
    transition: .5s;
    cursor: pointer;
    color: #898989;
}

.sidebarSubs {
    margin: 60px 0 30px 0;
    font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #000000;
margin-left: 30px;

}

@media screen and (max-width:992px){
    .sidebar{
        display: none;
    }
}